<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Learning_SystemLogViewer::logs"
             title="System Logs"
             module="Learning_SystemLogViewer"
             sortOrder="100"
             parent="Magento_Backend::content"
             action="systemlogviewer/log/index"
             resource="Learning_SystemLogViewer::logs"/>
    </menu>
</config>